extends layout

block content
  h1 member's only
  p Welcome to member's only
  if user && user.role === 'member'
    div.message-input-ctn
      div.message-input-wrapper
        form(action='/create_message' method='POST')
          h3.form-title create a message
          input(type='text' name='title' placeholder='title')
          textarea(name='content' placeholder='create a message')
          div.btn-ctn
            button(type='submit')
              span.text-wrapper create
  main.messages-ctn
    if messages
      for message in messages
        article.message-wrapper
          header.message-title #{message.title}
          div.message-content #{message.content}
          if user
            footer.message-deets 
              p.message-author #{message.user.username}
              p.message-date #{message.dateStr}
              if user.role === 'admin'
                button.delete-btn(type='button')
                  span.text-wrapper delete message
      ul.page_count      
        - for (let i=1; i <= pageCount; i++) {
          a.page_num(href=`/page/${i}`)
            li.text-wrapper #{i}
        - }
